html,
body,
#app {
    margin: 0;
    min-height: 100vh;
}

html {
    color: #eefcff;
    background: #04050d;
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", "Trebuchet MS", sans-serif;
    background: #04050d;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font: inherit;
}
